.sitios-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 4 columnas */
  gap: 16px; /* Espaciado entre elementos */
  align-items: stretch; /* Todas las tarjetas tendrán la misma altura */
}

.sitios-container > * {
  display: flex;
  flex-direction: column;
}